services:
  backend:
    build: ./backend
    container_name: blog-backend
    ports:
      - "8000:8000"
    environment:
      - MONGO_URI=mongodb+srv://zhiyingli73:1qaz2wsx.@cluster0.ejzo8e3.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
      - DB_NAME=blog
      - JWT_SECRET=change-this-to-a-real-secret-key
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: blog-frontend
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://backend:8000
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  mongo_data:
